In [12]:
import time
import numpy as np
import pandas as pd 
from datetime import datetime, date
from datetime import timedelta
import matplotlib.pyplot as plt

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

from forex_python.converter import CurrencyRates
c = CurrencyRates()

In [13]:
pd.to_datetime(date(1999, 1, 4))

Timestamp('1999-01-04 00:00:00')

In [4]:
c.get_rates('USD', datetime(2018, 1, 5))

{'GBP': 0.73792445,
 'HKD': 7.8196762142,
 'IDR': 13420.0,
 'ILS': 3.4372768784,
 'DKK': 6.1817351598,
 'INR': 63.3698630137,
 'CHF': 0.9760896638,
 'MXN': 19.3662930677,
 'CZK': 21.2486508925,
 'SGD': 1.3277708593,
 'THB': 32.1901203819,
 'HRK': 6.1726857617,
 'EUR': 0.8302200083,
 'MYR': 4.0,
 'NOK': 8.0878372769,
 'CNY': 6.4882523869,
 'BGN': 1.6237442922,
 'PHP': 49.8671647987,
 'PLN': 3.4498962225,
 'ZAR': 12.3608136156,
 'CAD': 1.2509755085,
 'BRL': 3.2425902864,
 'RON': 3.8481527605,
 'NZD': 1.397841428,
 'TRY': 3.7465338315,
 'JPY': 113.2835201328,
 'RUB': 57.096222499,
 'KRW': 1063.6778746368,
 'USD': 1.0,
 'AUD': 1.2753009548,
 'HUF': 256.3470319635,
 'SEK': 8.1625570776}

In [88]:
days_elapsed = (datetime.now() - datetime(1999, 1, 4, 1, 0)).days + 1
df = pd.DataFrame(columns=['USD-EUR','USD-GBP', 'USD-CHF', 'EUR-USD', 'EUR-GBP', 'EUR-CHF', 'GBP-USD', 'GBP-EUR', 'GBP-CHF', 'CHF-USD', 'CHF-EUR', 'CHF-GBP', 'USD-PLN', 'EUR-PLN', 'GBP-PLN', 'CHF-PLN'],
                  index=pd.to_datetime([datetime(1999, 1, 4, 1, 0) + timedelta(days=x) for x in range(days_elapsed)]))

for i in df.index:
    time.sleep(0.2)
    dt = pd.to_datetime(i)
    
    # USD
    usd = c.get_rates('USD', dt)
    df['USD-EUR'].loc[dt] = usd['EUR']
    df['USD-GBP'].loc[dt] = usd['GBP']
    df['USD-CHF'].loc[dt] = usd['CHF']
    df['USD-PLN'].loc[dt] = usd['PLN']
    
    # EUR
    eur = c.get_rates('EUR', dt)
    df['EUR-USD'].loc[dt] = eur['USD']
    df['EUR-GBP'].loc[dt] = eur['GBP']
    df['EUR-CHF'].loc[dt] = eur['CHF']
    df['EUR-PLN'].loc[dt] = eur['PLN']
    
    # GBP
    gbp = c.get_rates('GBP', dt)
    df['GBP-USD'].loc[dt] = gbp['USD']
    df['GBP-EUR'].loc[dt] = gbp['EUR']
    df['GBP-CHF'].loc[dt] = gbp['CHF']
    df['GBP-PLN'].loc[dt] = gbp['PLN']
    
    # CHF
    chf = c.get_rates('CHF', dt)
    df['CHF-USD'].loc[dt] = chf['USD']
    df['CHF-EUR'].loc[dt] = chf['EUR']
    df['CHF-GBP'].loc[dt] = chf['GBP']
    df['CHF-PLN'].loc[dt] = chf['PLN']
    

df.to_csv("exchange_rates.csv", sep=';')

In [ ]:
df

In [44]:
(datetime.now() - datetime(1999, 1, 4, 12, 0)).days

7879

In [40]:
df

                       a    b
1999-01-04 12:00:00  NaN  NaN
1999-01-05 12:00:00  NaN  NaN
1999-01-06 12:00:00  NaN  NaN
1999-01-07 12:00:00  NaN  NaN
1999-01-08 12:00:00  NaN  NaN
1999-01-09 12:00:00  NaN  NaN
1999-01-10 12:00:00  NaN  NaN
1999-01-11 12:00:00  NaN  NaN
1999-01-12 12:00:00  NaN  NaN
1999-01-13 12:00:00  NaN  NaN

In [31]:
c.get_rates('USD', datetime(1999, 1, 4, 12, 0))

{'GBP': 0.6031894139,
 'HKD': 7.7472219866,
 'CHF': 1.37144796,
 'SKK': 36.4670455509,
 'DKK': 6.3195351599,
 'LVL': 0.5656120112,
 'ROL': 11121.3843413351,
 'SEK': 8.0325727373,
 'CZK': 29.7794554245,
 'SGD': 1.6586648571,
 'SIT': 160.3571125626,
 'EUR': 0.8482483671,
 'NOK': 7.5112392909,
 'PLN': 3.4533887522,
 'LTL': 4.0011875477,
 'CYP': 0.4939435067,
 'ZAR': 5.8832810247,
 'CAD': 1.5271863602,
 'ISK': 69.1152769531,
 'JPY': 113.4362541352,
 'EEK': 13.272202901,
 'MTL': 0.3759436763,
 'NZD': 1.8855712953,
 'USD': 1.0,
 'TRL': 315780.8126219357,
 'KRW': 1186.351683773,
 'HUF': 213.3174993638,
 'AUD': 1.6201543812}

In [34]:
c.get_rates('GBP', datetime(1999, 1, 4, 12, 0))

{'GBP': 1.0,
 'HKD': 12.8437631838,
 'CHF': 2.2736605259,
 'SKK': 60.4570383912,
 'DKK': 10.476866826,
 'LVL': 0.9377021516,
 'ROL': 18437.6318379975,
 'SEK': 13.3168330755,
 'CZK': 49.3699901561,
 'SGD': 2.749824216,
 'SIT': 265.8486851357,
 'EUR': 1.406271973,
 'NOK': 12.4525383209,
 'PLN': 5.7252144565,
 'LTL': 6.6333848966,
 'CYP': 0.8188862326,
 'ZAR': 9.7536211503,
 'CAD': 2.5318520602,
 'ISK': 114.58304036,
 'JPY': 188.0607509492,
 'EEK': 22.0033750527,
 'MTL': 0.6232597384,
 'NZD': 3.1260019688,
 'USD': 1.657854029,
 'TRL': 523518.4924764449,
 'KRW': 1966.7979187175,
 'HUF': 353.6492757699,
 'AUD': 2.6859794684}

In [7]:
c.get_rates('USD')

{'GBP': 0.7686962446,
 'HKD': 7.7502341821,
 'IDR': 14600.0,
 'ILS': 3.401771268,
 'DKK': 6.3379034318,
 'INR': 74.8871668228,
 'CHF': 0.9149280422,
 'MXN': 22.1494507366,
 'CZK': 22.3520395129,
 'SGD': 1.3762241335,
 'THB': 31.4400068126,
 'HRK': 6.376564762,
 'EUR': 0.8515711488,
 'MYR': 4.239461807,
 'NOK': 9.1299497573,
 'CNY': 7.0033211275,
 'BGN': 1.6655028528,
 'PHP': 49.1203270033,
 'PLN': 3.7537256238,
 'ZAR': 16.7819126288,
 'CAD': 1.3430128587,
 'ISK': 135.5701268841,
 'BRL': 5.2106787022,
 'RON': 4.1146214766,
 'NZD': 1.5095801754,
 'TRY': 6.9810099634,
 'JPY': 105.2371625649,
 'RUB': 73.7659030912,
 'KRW': 1195.7421442562,
 'USD': 1.0,
 'AUD': 1.4004939113,
 'HUF': 294.3029890147,
 'SEK': 8.7769735161}